.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size:2em;
    font-weight:bold;
    color: #fff;
}
.custom-nav .custom-nav-item a{
    color: #fff !important;
}

.navbar-text{
    color: #fff;
}

.custom-nav-item:hover{
    background-color: #dc3454;
    border: #dc3454 1PX;
    border-radius: 10PX;

}

.removr-vid-marg{
    margin: 0px;
    padding: 0px;
}
.vid-parent{
    position:relative;
    /* top:0;
    left:0; */
    z-index: -1;
    opacity: 0.4;
    width: 100%;
    height: 100%;
}
video{
    width: 100%;
    height: 100%;
}


/* .vid-overlay{
   
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
   
    
} */
.vid-content{
    position: absolute;
    z-index: -2;
    top:35%;
    left:35%;
    text-align: center;
}
.bottom-banner{
    padding: 10px;

}

.strip{
    background-image: linear-gradient(240deg, #c8ed21, #1e93530e);
    padding: 3rem;
    height: 13rem;
    margin-top:rotate(10deg);
    z-index:-1;
}
































@media screen and (min-width:0px) and (max-width:700px) {
    .my-content,
    .txt-banner,
    .strip{
        display: none;
    }
    .vid-content{
        top: 12%;
        left: 60%;
    }
    .custom-nav.custom-nav-item a{
        padding: 10px;
    }
    
}