.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: #fff;
}

.static-navbar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  height: fit-content;
}
.custom-nav-item:hover {
  background-color: #dc3454;
  border: #dc3454 1px;
  border-radius: 10px;
}

.vid-marg {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

.vid-parent {
  position: relative;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

video {
  width: 100%;
  height: 100%;
  opacity: 0.4;
  z-index: -1;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.vid-content {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.strip {
  background: linear-gradient(240deg, #c8ed21, #1e93530e);
  text-align: center;
  padding-top: 1rem;
}

.row > .col-sm {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
